In [1]:
# I decide to work in greedy way(start from less feature and try to add another feature)
# and I decide to eveluate only weight MEA on kaggle website
# for model that use to evaluate I only Decision tree

In [2]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import Ridge
import pandas as pd
import numpy as np
from datetime import datetime
import datetime
from sklearn.model_selection import KFold
pd.options.mode.chained_assignment = None  # default='warn'

In [3]:
train = pd.read_csv('./train.csv')
feature = pd.read_csv('./features.csv')
test = pd.read_csv('./test.csv')
train['Date'] = pd.to_datetime(train['Date'])
train['Week'] = train['Date'].dt.week
test['Date'] = pd.to_datetime(test['Date'])
test['Week'] = test['Date'].dt.week
feature['Date'] = pd.to_datetime(feature['Date'])
train['IsHoliday'] = (train[['IsHoliday']]== True).astype(int)
test['IsHoliday'] = (test[['IsHoliday']]== True).astype(int)
train_with_feature = pd.merge_asof(train, feature, on='Store',by='Date')
test_with_feature = pd.merge_asof(test, feature, on='Store',by='Date')

In [4]:
train_with_feature

,Store,Dept,Date,Weekly_Sales,IsHoliday_x,Week,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday_y
0,1,1,2010-02-05,24924.50,0,5,42.31,2.572,NaN,NaN,NaN,NaN,NaN,211.096358,8.106,False
1,1,1,2010-02-12,46039.49,1,6,38.51,2.548,NaN,NaN,NaN,NaN,NaN,211.242170,8.106,True
2,1,1,2010-02-19,41595.55,0,7,39.93,2.514,NaN,NaN,NaN,NaN,NaN,211.289143,8.106,False
3,1,1,2010-02-26,19403.54,0,8,46.63,2.561,NaN,NaN,NaN,NaN,NaN,211.319643,8.106,False
4,1,1,2010-03-05,21827.90,0,9,46.50,2.625,NaN,NaN,NaN,NaN,NaN,211.350143,8.106,False
5,1,1,2010-03-12,21043.39,0,10,57.79,2.667,NaN,NaN,NaN,NaN,NaN,211.380643,8.106,False
6,1,1,2010-03-19,22136.64,0,11,54.58,2.720,NaN,NaN,NaN,NaN,NaN,211.215635,8.106,False
7,1,1,2010-03-26,26229.21,0,12,51.45,2.732,NaN,NaN,NaN,NaN,NaN,211.018042,8.106,False
8,1,1,2010-04-02,57258.43,0,13,62.27,2.719,NaN,NaN,NaN,NaN,NaN,210.820450,7.808,False
9,1,1,2010-04-09,42960.91,0,14,65.86,2.770,NaN,NaN,NaN,NaN,NaN,210.622857,7.808,False
10,1,1,2010-04-16,17596.96,0,15,66.32,2.808,NaN,NaN,NaN,NaN,NaN,210.488700,7.808,False
11,1,1,2010-04-23,16145.35,0,16,64.84,2.795,NaN,NaN,NaN,NaN,NaN,210.439123,7.808,False
12,1,1,2010-04-30,16555.11,0,17,67.41,2.780,NaN,NaN,NaN,NaN,NaN,210.389546,7.808,False
13,1,1,2010-05-07,17413.94,0,18,72.55,2.835,NaN,NaN,NaN,NaN,NaN,210.339968,7.808,False
14,1,1,2010-05-14,18926.74,0,19,74.78,2.854,NaN,NaN,NaN,NaN,NaN,210.337426,7.808,False
15,1,1,2010-05-21,14773.04,0,20,76.44,2.826,NaN,NaN,NaN,NaN,NaN,210.617093,7.808,False
16,1,1,2010-05-28,15580.43,0,21,80.44,2.759,NaN,NaN,NaN,NaN,NaN,210.896761,7.808,False
17,1,1,2010-06-04,17558.09,0,22,80.69,2.705,NaN,NaN,NaN,NaN,NaN,211.176428,7.808,False
18,1,1,2010-06-11,16637.62,0,23,80.43,2.668,NaN,NaN,NaN,NaN,NaN,211.456095,7.808,False
19,1,1,2010-06-18,16216.27,0,24,84.11,2.637,NaN,NaN,NaN,NaN,NaN,211.453772,7.808,False
20,1,1,2010-06-25,16328.72,0,25,84.34,2.653,NaN,NaN,NaN,NaN,NaN,211.338653,7.808,False
21,1,1,2010-07-02,16333.14,0,26,80.91,2.669,NaN,NaN,NaN,NaN,NaN,211.223533,7.787,False
22,1,1,2010-07-09,17688.76,0,27,80.48,2.642,NaN,NaN,NaN,NaN,NaN,211.108414,7.787,False
23,1,1,2010-07-16,17150.84,0,28,83.15,2.623,NaN,NaN,NaN,NaN,NaN,211.100385,7.787,False
24,1,1,2010-07-23,15360.45,0,29,83.36,2.608,NaN,NaN,NaN,NaN,NaN,211.235144,7.787,False
25,1,1,2010-07-30,15381.82,0,30,81.84,2.640,NaN,NaN,NaN,NaN,NaN,211.369903,7.787,False
26,1,1,2010-08-06,17508.41,0,31,87.16,2.627,NaN,NaN,NaN,NaN,NaN,211.504662,7.787,False
27,1,1,2010-08-13,15536.40,0,32,87.00,2.692,NaN,NaN,NaN,NaN,NaN,211.639421,7.787,False
28,1,1,2010-08-20,15740.13,0,33,86.65,2.664,NaN,NaN,NaN,NaN,NaN,211.603363,7.787,False
29,1,1,2010-08-27,15793.87,0,34,85.22,2.619,NaN,NaN,NaN,NaN,NaN,211.567306,7.787,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
421540,45,98,2012-04-06,778.70,0,14,49.73,3.996,13450.45,NaN,26.59,3363.54,3962.01,190.685171,8.567,False
421541,45,98,2012-04-13,559.14,0,15,51.83,4.044,4736.94,6047.12,16.68,1355.11,2246.12,190.759596,8.567,False
421542,45,98,2012-04-20,605.80,0,16,63.13,4.027,9210.90,2667.05,6.25,970.33,2568.22,190.813801,8.567,False
421543,45,98,2012-04-27,619.41,0,17,53.20,4.004,2872.86,0.03,37.12,74.97,2495.29,190.868006,8.567,False
421544,45,98,2012-05-04,694.25,0,18,55.21,3.951,11984.62,NaN,47.52,6150.63,1775.54,190.922212,8.567,False
421545,45,98,2012-05-11,893.60,0,19,61.24,3.889,12611.18,NaN,21.36,1667.39,2313.12,190.976417,8.567,False
421546,45,98,2012-05-18,745.44,0,20,66.30,3.848,6813.74,NaN,13.86,936.49,2941.55,190.996448,8.567,False
421547,45,98,2012-05-25,795.94,0,21,67.21,3.798,5370.39,NaN,361.22,1287.62,2461.81,191.002810,8.567,False
421548,45,98,2012-06-01,874.64,0,22,74.48,3.742,10643.62,48.20,201.56,2599.35,1856.97,191.009171,8.567,False
421549,45,98,2012-06-08,713.50,0,23,64.30,3.689,8429.61,148.60,76.15,1465.54,7180.97,191.015533,8.567,False
421550,45,98,2012-06-15,856.35,0,24,71.93,3.620,8148.19,252.70,90.05,1226.11,2942.39,191.029973,8.567,False
421551,45,98,2012-06-22,622.62,0,25,74.22,3.564,5565.31,222.50,1.16,2149.76,7474.76,191.064610,8.567,False
421552,45,98,2012-06-29,690.52,0,26,75.22,3.506,3291.36,425.60,NaN,314.88,2255.34,191.099246,8.567,False
421553,45,98,2012-07-06,659.65,0,27,82.99,3.475,5878.09,169.00,64.36,2996.47,5477.04,191.133883,8.684,False
421554,45,98,2012-07-13,695.21,0,28,79.97,3.523,2978.08,118.90,22.07,1899.54,5181.94,191.168519,8.684,False
421555,45,98,2012-07-20,845.30,0,29,78.89,3.567,6682.75,24.24,12.83,2249.85,2288.30,191.167043,8.684,False
421556,45,98,2012-07-27,657.63,0,30,77.20,3.647,5753.81,167.95,1.23,9181.48,3156.06,191.165566,8.684,False
421557,45,98,2012-08-03,516.46,0,31,76.58,3.654,24853.05,39.56,17.96,11142.69,2768.32,191.164090,8.684,False
421558,45,98,2012-08-10,727.49,0,32,78.65,3.722,17868.84,50.60,57.66,2593.93,1890.59,191.162613,8.684,False
421559,45,98,2012-08-17,500.16,0,33,75.71,3.807,3657.79,6.00,0.30,1630.50,3794.22,191.228492,8.684,False
421560,45,98,2012-08-24,415.40,0,34,72.62,3.834,7936.20,58.38,22.00,5518.07,2291.97,191.344887,8.684,False
421561,45,98,2012-08-31,346.04,0,35,75.09,3.867,23641.30,6.00,92.93,6988.31,3992.13,191.461281,8.684,False
421562,45,98,2012-09-07,352.44,1,36,75.70,3.911,11024.45,12.80,52.63,1854.77,2055.70,191.577676,8.684,True
421563,45,98,2012-09-14,605.96,0,37,67.87,3.948,11407.95,NaN,4.30,3421.72,5268.92,191.699850,8.684,False
421564,45,98,2012-09-21,467.30,0,38,65.32,4.038,8452.20,92.28,63.24,2376.38,8670.40,191.856704,8.684,False
421565,45,98,2012-09-28,508.37,0,39,64.88,3.997,4556.61,20.64,1.50,1601.01,3288.25,192.013558,8.684,False
421566,45,98,2012-10-05,628.10,0,40,64.89,3.985,5046.74,NaN,18.82,2253.43,2340.01,192.170412,8.667,False
421567,45,98,2012-10-12,1061.02,0,41,54.47,4.000,1956.28,NaN,7.89,599.32,3990.54,192.327265,8.667,False
421568,45,98,2012-10-19,760.01,0,42,56.47,3.969,2004.02,NaN,3.18,437.73,1537.49,192.330854,8.667,False
421569,45,98,2012-10-26,1076.80,0,43,58.85,3.882,4018.91,58.08,100.00,211.94,858.33,192.308899,8.667,False

In [5]:
# as for first select feature I look back to knowing data
# I select value that kindly relate with sales as base so I select date
# and I decide to create other feature from date
# so we have week and holiday as base and create other feature from it

In [6]:
start_feature_train = train_with_feature[['Store','Dept','Date','Weekly_Sales','IsHoliday_x','Week']]
start_feature_test = test_with_feature[['Store','Dept','Date','IsHoliday_x','Week']]

In [7]:
def create_prenext_week(data):
    dataset = data.copy()
    dataset['preweek'] = dataset['Week']-1
    dataset.loc[dataset['preweek'] == 0, 'preweek'] = 52
    dataset['nextweek'] = dataset['Week']+1
    dataset.loc[dataset['nextweek'] == 53, 'nextweek'] = 1
    PreNext1week = dataset.copy()
    dataset['pre2week'] = dataset['preweek']-1
    dataset.loc[dataset['pre2week'] == 0, 'pre2week'] = 52
    dataset['next2week'] = dataset['nextweek']+1
    dataset.loc[dataset['next2week'] == 53, 'next2week'] = 1
    PreNext2week = dataset.copy()
    return(PreNext1week,PreNext2week)

In [8]:
# from plot Weekly_Sales and week some sale peak slide to beside week 1-2 week in years so I decide to create column nextweek, next2week,preweek and pre2week
train1week,train2week = create_prenext_week(start_feature_train)
test1week,test2week = create_prenext_week(start_feature_test)

In [9]:
def Tree_Realtest(name,train,test):
    name = './'+name+'_Tree.csv'
    f = open(name,'w')
    f.write('Id,Weekly_Sales\n')
    for store in test.Store.unique():
        select_store_test = test.loc[test['Store'] == store]
        select_store_train = train.loc[train['Store'] == store]
        for dept in select_store_test.Dept.unique():
            select_dept_test = select_store_test.loc[select_store_test['Dept'] == dept]
            dates = select_dept_test['Date'].apply(lambda x: x.strftime('%Y-%m-%d')).values
            select_dept_test = select_dept_test.drop(columns=['Store', 'Dept','Date']).reset_index()
            select_dept_train = select_store_train.loc[select_store_train['Dept'] == dept]
            select_dept_train = select_dept_train.drop(columns=['Store', 'Dept','Date']).reset_index()
            if len(select_dept_train.index) > 0: # handle no train data for test dept ex. store 5 dept 99
                X_train = select_dept_train.drop(columns=['Weekly_Sales'])
                Y_train = select_dept_train['Weekly_Sales']
                X_test = select_dept_test
                clf = DecisionTreeRegressor()
                clf.fit(X_train,Y_train)
                test_y = clf.predict(X_test)
                for i in range(len(test_y)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = test_y[i]
                    f.write('%s,%s\n'%(Id,sales))
            else:
                for i in range(len(select_dept_test)):
                    Id = str(store)+'_'+str(dept)+'_'+str(dates[i])
                    sales = 0
                    f.write('%s,%s\n'%(Id,sales))
    f.close()

In [10]:
Tree_Realtest('week_1',train1week,test1week) #5178.89486
Tree_Realtest('week_2',train2week,test2week) #5136.95584
Tree_Realtest('base',start_feature_train,start_feature_test) #5350.64879
# Try to create feature for month level but seem not work

In [11]:
# from plot Weekly_Sales and Holydays have many outlier and seem not good to use as feature so I try remove it.
train2week.drop(columns=['IsHoliday_x'])
test2week.drop(columns=['IsHoliday_x'])
Tree_Realtest('week_2',train2week,test2week) #5088.47749

In [12]:
# from result remove holiday dataset have better result so I try to create holiday myself base on Federal Holidays data: http://www.ca3.uscourts.gov/2018-federal-holidays
# and add other festival that not include in holidays ex. super_bowl

In [13]:
def get_holiday(date):
    super_bowl = ['2010-02-12','2011-02-11','2012-02-10','2013-02-08']
    labor = ['2010-09-10','2011-09-09','2012-09-07']
    thank = ['2010-11-26','2011-11-25','2012-11-23']
    chris = ['2010-12-31','2011-12-30','2012-12-28']
    columbus =['2010-10-15','2011-10-14','2012-10-12']
    veterans = ['2010-11-12','2011-11-11','2012-11-16']
    independence = ['2010-7-9','2011-7-8','2012-7-6','2013-7-5']
    memorial = ['2010-6-4','2011-6-3','2012-6-1','2013-5-31']
    washington = ['2010-2-19','2011-2-25','2012-2-24','2013-2-22']
    if date in super_bowl:
        return [0,0,0,0,0,0,0,0,1]
    elif date in labor:
        return [0,0,0,0,0,0,0,1,0]
    elif date in thank:
        return [0,0,0,0,0,0,1,0,0]
    elif date in chris: 
        return [0,0,0,0,0,1,0,0,0]
    elif date in columbus: 
        return [0,0,0,0,1,0,0,0,0]
    elif date in veterans:
        return [0,0,0,1,0,0,0,0,0]
    elif date in independence:
        return [0,0,1,0,0,0,0,0,0]
    elif date in memorial:
        return [0,1,0,0,0,0,0,0,0]
    elif date in washington:
        return [1,0,0,0,0,0,0,0,0]
    else:
        return [0,0,0,0,0,0,0,0,0]

In [14]:
def multi_holiday(data):
    dataset = data.copy()
    holiday = []
    dates = data['Date'].apply(lambda x: x.strftime('%Y-%m-%d')).values
    for i in range(len(dates)):
        holiday.append(get_holiday(str(dates[i])))
    holiday = pd.DataFrame(holiday)
    holiday.columns = ['super_bowl', 'labor','thank','chris','columbus','veterans','independence','memorial','washington']
    dataset = pd.merge(dataset, holiday, left_index=True, right_index=True)
    normal_holiday = dataset.copy()
    holiday_pre1 = []
    dates = data['Date'].apply(lambda x: (x-datetime.timedelta(days=7)).strftime('%Y-%m-%d')).values
    for i in range(len(dates)):
        holiday_pre1.append(get_holiday(str(dates[i])))
    holiday_next1 = []
    dates = data['Date'].apply(lambda x: (x+datetime.timedelta(days=7)).strftime('%Y-%m-%d')).values
    for i in range(len(dates)):
        holiday_next1.append(get_holiday(str(dates[i])))
    holiday_pre1 = pd.DataFrame(holiday_pre1)
    holiday_next1 = pd.DataFrame(holiday_next1)
    holiday_pre1.columns = ['super_bowl_p1', 'labor_p1','thank_p1','chris_p1','columbus_p1','veterans_p1','independence_p1','memorial_p1','washington_p1']
    holiday_next1.columns = ['super_bowl_n1', 'labor_n1','thank_n1','chris_n1','columbus_n1','veterans_n1','independence_n1','memorial_n1','washington_n1']
    dataset = pd.merge(dataset, holiday_pre1, left_index=True, right_index=True)
    dataset = pd.merge(dataset, holiday_next1, left_index=True, right_index=True)
    PreNext1week = dataset.copy()
    holiday_pre2 = []
    dates = data['Date'].apply(lambda x: (x-datetime.timedelta(days=7)).strftime('%Y-%m-%d')).values
    for i in range(len(dates)):
        holiday_pre2.append(get_holiday(str(dates[i])))
    holiday_next2 = []
    dates = data['Date'].apply(lambda x: (x+datetime.timedelta(days=7)).strftime('%Y-%m-%d')).values
    for i in range(len(dates)):
        holiday_next2.append(get_holiday(str(dates[i])))
    holiday_pre2 = pd.DataFrame(holiday_pre2)
    holiday_next2 = pd.DataFrame(holiday_next2)
    holiday_pre2.columns = ['super_bowl_p2', 'labor_p2','thank_p2','chris_p2','columbus_p2','veterans_p2','independence_p2','memorial_p2','washington_p2']
    holiday_next2.columns = ['super_bowl_n2', 'labor_n2','thank_n2','chris_n2','columbus_n2','veterans_n2','independence_n2','memorial_n2','washington_n2']
    dataset = pd.merge(dataset, holiday_pre2, left_index=True, right_index=True)
    dataset = pd.merge(dataset, holiday_next2, left_index=True, right_index=True)
    PreNext2week = dataset.copy()
    return(normal_holiday,PreNext1week,PreNext2week)

In [15]:
start_feature_train = train_with_feature[['Store','Dept','Date','Weekly_Sales','Week']]
start_feature_test = test_with_feature[['Store','Dept','Date','Week']]
train1week,train2week = create_prenext_week(start_feature_train)
test1week,test2week = create_prenext_week(start_feature_test)
normaltrain,train1week,train2week = multi_holiday(train2week)
normaltest,test1week,test2week = multi_holiday(test2week)

In [16]:
# from old score 5088.47749
Tree_Realtest('holiday_1',train1week,test1week) #5084.24131
Tree_Realtest('holiday_2',train2week,test2week) #5020.45259
Tree_Realtest('normal',normaltrain,normaltest) #5118.58290